<section class="mt-5 brd-tp-{{id}}">
<footer class="couv-fx position-relative" style="background-image: url({{ asset('kossa/img/pattern.jpg') }}">
    <div class="h-100 position-absolute couv-foot w-100"></div>
    <div class="container pt-5">
        <div class="row mt-4 ls3">
          <div class="col-md-3 col-sm-6  mb-3  context-menu">
            <div class="foot-titre mb-3 font-weight-bold">
              Nos plateformes
            </div>
            <ul class="menbas text-left pl-0">
              <li class=""> <a href="{{ path('homepage') }}">Kossa</a> </li>
              <li class=""> <a href="{{ path('kossa_news_index') }}">Kossa news</a> </li>
              <li class=""> <a href="{{ path('kossa_play_index') }}">kossa play</a> </li>
              <li class=""> <a href="{{ path('kossa_event_index') }}">Kossa event</a> </li>
            </ul>
          </div>
          <div class="col-md-3 col-sm-6 mb-3  context-menu">
            <div class="foot-titre mb-3 verte font-weight-bold">
              Service
            </div>
            <ul class="menbas text-left pl-0">
              <li class=""> <a href="{{ path('security_register') }}">S'inscrire</a> </li>
              <li class=""> <a href="{{ path('security_login') }}">Se connecter</a> </li>
              <li class=""> <a href="#">Aide</a> </li>
            </ul>
          </div>
          <div class="col-md-3 col-sm-6 mb-3  context-menu">
            <div class="foot-titre mb-3  font-weight-bold">
              A propos
            </div>
            <ul class="menbas text-left pl-0 fs-13">
              <li class=""> <a href="#">Qui sommes-nous</a> </li>
              <li class=""> <a href="#">Recrutement</a> </li>
              <li class=""> <a href="#">Témoignage</a> </li>
            </ul>
          </div>
          <div class="col-md-3 col-sm-6 mb-3">
            <div class="foot-titre mb-4 font-weight-bold">
              Rejoignez nous
            </div>
            <div>
                <div class=" mb-4">
                  <!--facebook-->
                  <a  href="" class="btn-social fb-ic mr-3" role="button"><i class="fab fa-lg fa-facebook-f"></i></a>
                  <!--twitter-->
                  <a href="" class="btn-social tw-ic mr-3" role="button"><i class="fab fa-lg fa-twitter"></i></a>
                  <!--google-->
                  <a href="" class="btn-social gplus-ic mr-3" role="button"><i class="fab fa-lg fa-google-plus-g"></i></a>
                  <!--Linkedin-->
                  <a href="" class="btn-social li-ic mr-3" role="button"><i class="fab fa-lg fa-linkedin-in"></i></a>
                  <!--messanger-->
                  <a href="" class="btn-social li-ic mr-3" role="button"><i class="fab fa-lg  fa-facebook-messenger"></i></a>
                  <!--Instagram-->
                  <a href="" class="btn-social ins-ic mr-3" role="button"><i class="fab fa-lg fa-instagram"></i></a>
                  <!--Email-->
                  <a href="" class="btn-social email-ic" role="button"><i class="far fa-lg fa-envelope"></i></a>
                </div>
            </div>

            <div class="foot-titre mb-1 font-weight-bold">
                News letter
              </div>
              <form class="t1-form form-search js-search-form position-relative" action="/search" id="global-search">
                <input class="search-input news-search" type="text" id="search-query" placeholder="Votre adresse email" name="mail" >
                <span class="search-icon">
                    <a class="d-inline-block position-absolute" style="bottom:5px; right: 9px" >
                        <i class="fas fa-envelope" aria-hidden="true"></i>
                    </a>
                </span>
          </div>
        </div>
        <div class="text-center sep2 w-100 mb-4"></div>
        <div class="row bl2 pb-4">
          <div class="col-md-12 mt-2 mb-2 text-center cl-b3">
            <span class="font-weight-bold"> Kossa </span> © 2019. &nbsp;Tout droit reservé</div>	
          </div>
        </div>
      </div>
  </footer>
 </section>
       